body {
  margin: 0;
  font-family: "PPEditorial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PPEditorial";

  font-weight: lighter;
  src: local('PPEditorial'), url('./fonts/PPEditorialNew-Ultralight.woff') format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic');